In [1]:
import pandas as pd
import numpy as np
import csv
import os

# FXのデータセット（1分間隔）を基に5分間隔、10分間隔にまとめたデータセットを作りCSVファイルとして出力する / 
## 定数を定義

In [2]:
hdCurr = 'curr'
hdOpen = 'curr_OPEN'
hdClose = 'curr_CLOSE'
hdHigh = "curr_HIGH"
hdLow = "curr_LOW"
hdDifOC = 'curr_dif_OC'
hdDifHL = 'curr_dif_HL'
hdIndex = 'DateTime'
hdPip = 'pips_'
hdsOrg = [hdIndex, hdOpen, hdHigh, hdLow, hdClose,'Volume']
hdsCur = [hdIndex, hdOpen, hdClose, hdHigh, hdLow]
hdsDif = [hdIndex, hdDifOC, hdDifHL]

folder_in = './data_in/'
folder_out = './data_out/'
currencyPair =['usdjpy', 'gbpjpy', 'gbpusd']

## FXデータセットをdataframeに読み込み、高値安値の差、始値終値の差を計算し、CSVファイルを生成 /

In [3]:
for cp in currencyPair:
    dfTmp = pd.read_csv(folder_in + cp + ".csv", header=None, names=hdsOrg, sep=';')
    dfTmp[hdDifOC] = dfTmp[hdClose] - dfTmp[hdOpen] 
    dfTmp[hdDifHL] = dfTmp[hdHigh] - dfTmp[hdLow] 
    dfTmp.to_csv(folder_out + cp + ".csv", index=False)

## csvファイルを値動き情報と、差情報とに分けdataframeに読み込み /

In [4]:
dfCur = pd.DataFrame()
dfDif = pd.DataFrame()

for cp in currencyPair:
    dfTmp = pd.read_csv(folder_out + cp + ".csv", sep=',')

    dfTmp_cur = dfTmp[hdsCur].copy()
    dfTmp_cur.columns = [s.replace(hdCurr, cp) for s in dfTmp_cur.columns]
    dfTmp_cur[hdIndex] = pd.to_datetime(dfTmp_cur[hdIndex])
    dfTmp_cur.set_index(hdIndex, inplace=True)
    dfCur = pd.concat([dfCur, dfTmp_cur], axis=1, join='outer')    
    
    dfTmp_dif = dfTmp[hdsDif].copy()
    dfTmp_dif.columns = [s.replace(hdCurr, cp) for s in dfTmp_dif.columns]
    dfTmp_dif[hdIndex] = pd.to_datetime(dfTmp_dif[hdIndex])
    dfTmp_dif.set_index(hdIndex, inplace=True)    
    dfDif = pd.concat([dfDif, dfTmp_dif], axis=1, join='outer')

In [5]:
display(dfCur)
display(dfDif)

,usdjpy_OPEN,usdjpy_CLOSE,usdjpy_HIGH,usdjpy_LOW,gbpjpy_OPEN,gbpjpy_CLOSE,gbpjpy_HIGH,gbpjpy_LOW,gbpusd_OPEN,gbpusd_CLOSE,gbpusd_HIGH,gbpusd_LOW
DateTime,,,,,,,,,,,,
2022-05-01 17:00:00,129.723,129.750,129.750,129.723,NaN,NaN,NaN,NaN,1.25794,1.25794,1.25794,1.25794
2022-05-01 17:01:00,129.750,129.744,129.750,129.738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-05-01 17:03:00,129.744,129.744,129.744,129.744,NaN,NaN,NaN,NaN,1.25786,1.25786,1.25786,1.25786
2022-05-01 17:04:00,129.744,129.744,129.744,129.744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-05-01 17:05:00,129.744,129.765,129.765,129.744,163.195,163.216,163.217,163.195,1.25801,1.25788,1.25801,1.25786
...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-27 16:54:00,127.091,127.117,127.118,127.090,160.512,160.533,160.537,160.506,1.26300,1.26292,1.26306,1.26291
2022-05-27 16:55:00,127.115,127.113,127.126,127.106,160.529,160.532,160.544,160.526,1.26292,1.26292,1.26293,1.26286
2022-05-27 16:56:00,127.112,127.113,127.124,127.110,160.532,160.527,160.549,160.506,1.26292,1.26266,1.26295,1.26259
2022-05-27 16:57:00,127.115,127.106,127.118,127.106,160.529,160.522,160.571,160.508,1.26266,1.26271,1.26328,1.26256
2022-05-27 16:58:00,127.106,127.094,127.106,127.088,160.517,160.498,160.521,160.491,1.26277,1.26268,1.26277,1.26268

,usdjpy_dif_OC,usdjpy_dif_HL,gbpjpy_dif_OC,gbpjpy_dif_HL,gbpusd_dif_OC,gbpusd_dif_HL
DateTime,,,,,,
2022-05-01 17:00:00,0.027,0.027,NaN,NaN,0.00000,0.00000
2022-05-01 17:01:00,-0.006,0.012,NaN,NaN,NaN,NaN
2022-05-01 17:03:00,0.000,0.000,NaN,NaN,0.00000,0.00000
2022-05-01 17:04:00,0.000,0.000,NaN,NaN,NaN,NaN
2022-05-01 17:05:00,0.021,0.021,0.021,0.022,-0.00013,0.00015
...,...,...,...,...,...,...
2022-05-27 16:54:00,0.026,0.028,0.021,0.031,-0.00008,0.00015
2022-05-27 16:55:00,-0.002,0.020,0.003,0.018,0.00000,0.00007
2022-05-27 16:56:00,0.001,0.014,-0.005,0.043,-0.00026,0.00036
2022-05-27 16:57:00,-0.009,0.012,-0.007,0.063,0.00005,0.00072
2022-05-27 16:58:00,-0.012,0.018,-0.019,0.030,-0.00009,0.00009

## オリジナルのデータセットは1分間隔になっている。5分間隔と10分間隔も作成する。なお、値動きに関しては平均値を、差分に関しては合計値を集計する。 /

In [6]:
dfCur05M = dfCur.groupby(pd.Grouper(freq='5Min')).mean()
dfDif05M = dfDif.groupby(pd.Grouper(freq='5Min')).sum()
dfCur10M = dfCur.groupby(pd.Grouper(freq='10Min')).mean()
dfDif10M = dfDif.groupby(pd.Grouper(freq='10Min')).sum()

In [7]:
display(dfCur05M)
display(dfDif05M)
display(dfCur10M)
display(dfDif10M)

,usdjpy_OPEN,usdjpy_CLOSE,usdjpy_HIGH,usdjpy_LOW,gbpjpy_OPEN,gbpjpy_CLOSE,gbpjpy_HIGH,gbpjpy_LOW,gbpusd_OPEN,gbpusd_CLOSE,gbpusd_HIGH,gbpusd_LOW
DateTime,,,,,,,,,,,,
2022-05-01 17:00:00,129.74025,129.7455,129.7470,129.73725,NaN,NaN,NaN,NaN,1.257900,1.257900,1.257900,1.257900
2022-05-01 17:05:00,129.75325,129.7590,129.7590,129.75125,163.20450,163.21450,163.21550,163.20400,1.257906,1.257910,1.257984,1.257856
2022-05-01 17:10:00,129.75100,129.7504,129.7532,129.74940,163.21525,163.21625,163.21675,163.20750,1.257776,1.257798,1.257824,1.257776
2022-05-01 17:15:00,129.75000,129.7500,129.7500,129.75000,163.21980,163.21560,163.22220,163.21020,1.257962,1.257998,1.258024,1.257936
2022-05-01 17:20:00,129.78200,129.7840,129.7840,129.78200,163.26820,163.27940,163.28640,163.26160,1.258010,1.258013,1.258067,1.257957
...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-27 16:35:00,127.10480,127.1000,127.1058,127.09920,160.54280,160.53440,160.54520,160.53340,1.263045,1.263025,1.263060,1.262997
2022-05-27 16:40:00,127.09120,127.0980,127.0982,127.09080,160.51720,160.52560,160.52800,160.51440,1.263018,1.263020,1.263044,1.262988
2022-05-27 16:45:00,127.12300,127.1192,127.1268,127.11400,160.56060,160.55140,160.56580,160.54500,1.263036,1.263000,1.263092,1.262990
2022-05-27 16:50:00,127.09020,127.0938,127.0992,127.08400,160.50860,160.51160,160.52160,160.49640,1.262970,1.262970,1.263020,1.262908
2022-05-27 16:55:00,127.11200,127.1065,127.1185,127.10250,160.52675,160.51975,160.54625,160.50775,1.262818,1.262742,1.262983,1.262672

,usdjpy_dif_OC,usdjpy_dif_HL,gbpjpy_dif_OC,gbpjpy_dif_HL,gbpusd_dif_OC,gbpusd_dif_HL
DateTime,,,,,,
2022-05-01 17:00:00,0.021,0.039,0.000,0.000,0.000000e+00,0.00000
2022-05-01 17:05:00,0.023,0.031,0.020,0.023,2.000000e-05,0.00064
2022-05-01 17:10:00,-0.003,0.019,0.004,0.037,1.100000e-04,0.00024
2022-05-01 17:15:00,0.000,0.000,-0.021,0.060,1.800000e-04,0.00044
2022-05-01 17:20:00,0.010,0.010,0.056,0.124,1.000000e-05,0.00033
...,...,...,...,...,...,...
2022-05-27 16:35:00,-0.024,0.033,-0.042,0.059,-8.000000e-05,0.00025
2022-05-27 16:40:00,0.034,0.037,0.042,0.068,1.000000e-05,0.00028
2022-05-27 16:45:00,-0.019,0.064,-0.046,0.104,-1.800000e-04,0.00051
2022-05-27 16:50:00,0.018,0.076,0.015,0.126,2.220446e-16,0.00056
2022-05-27 16:55:00,-0.022,0.064,-0.028,0.154,-3.000000e-04,0.00124

,usdjpy_OPEN,usdjpy_CLOSE,usdjpy_HIGH,usdjpy_LOW,gbpjpy_OPEN,gbpjpy_CLOSE,gbpjpy_HIGH,gbpjpy_LOW,gbpusd_OPEN,gbpusd_CLOSE,gbpusd_HIGH,gbpusd_LOW
DateTime,,,,,,,,,,,,
2022-05-01 17:00:00,129.746750,129.752250,129.753000,129.744250,163.204500,163.214500,163.215500,163.204000,1.257904,1.257907,1.257960,1.257869
2022-05-01 17:10:00,129.750500,129.750200,129.751600,129.749700,163.217778,163.215889,163.219778,163.209000,1.257869,1.257898,1.257924,1.257856
2022-05-01 17:20:00,129.803444,129.811667,129.811889,129.801444,163.307900,163.318600,163.327000,163.298000,1.258006,1.258011,1.258044,1.257975
2022-05-01 17:30:00,129.844100,129.844800,129.846400,129.843100,163.343400,163.342000,163.348500,163.337600,1.257937,1.258055,1.258070,1.257935
2022-05-01 17:40:00,129.849400,129.852100,129.856000,129.845300,163.346900,163.343300,163.351700,163.338500,1.257981,1.257954,1.258031,1.257927
...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-27 16:10:00,127.101700,127.102000,127.103200,127.100800,160.527000,160.523900,160.530500,160.521500,1.262945,1.262942,1.262972,1.262917
2022-05-27 16:20:00,127.111500,127.109500,127.114100,127.107100,160.540900,160.542200,160.547700,160.536900,1.262985,1.263004,1.263013,1.262977
2022-05-27 16:30:00,127.102400,127.101300,127.104900,127.098500,160.543800,160.540300,160.546800,160.537000,1.263084,1.263074,1.263094,1.263054
2022-05-27 16:40:00,127.107100,127.108600,127.112500,127.102400,160.538900,160.538500,160.546900,160.529700,1.263027,1.263010,1.263068,1.262989
2022-05-27 16:50:00,127.099889,127.099444,127.107778,127.092222,160.516667,160.515222,160.532556,160.501444,1.262902,1.262869,1.263003,1.262803

,usdjpy_dif_OC,usdjpy_dif_HL,gbpjpy_dif_OC,gbpjpy_dif_HL,gbpusd_dif_OC,gbpusd_dif_HL
DateTime,,,,,,
2022-05-01 17:00:00,0.044,0.070,0.020,0.023,0.00002,0.00064
2022-05-01 17:10:00,-0.003,0.019,-0.017,0.097,0.00029,0.00068
2022-05-01 17:20:00,0.074,0.094,0.107,0.290,0.00004,0.00055
2022-05-01 17:30:00,0.007,0.033,-0.014,0.109,0.00071,0.00081
2022-05-01 17:40:00,0.027,0.107,-0.036,0.132,-0.00027,0.00104
...,...,...,...,...,...,...
2022-05-27 16:10:00,0.003,0.024,-0.031,0.090,-0.00003,0.00055
2022-05-27 16:20:00,-0.020,0.070,0.013,0.108,0.00019,0.00036
2022-05-27 16:30:00,-0.011,0.064,-0.035,0.098,-0.00009,0.00036
2022-05-27 16:40:00,0.015,0.101,-0.004,0.172,-0.00017,0.00079
2022-05-27 16:50:00,-0.004,0.140,-0.013,0.280,-0.00030,0.00180

## 連番を振る（不要かも） /

In [8]:
dfCur['No'] = range(1, len(dfCur.index) + 1)
dfDif['No'] = range(1, len(dfDif.index) + 1)
dfCur05M['No'] = range(1, len(dfCur05M.index) + 1)
dfDif05M['No'] = range(1, len(dfDif05M.index) + 1)
dfCur10M['No'] = range(1, len(dfCur10M.index) + 1)
dfDif10M['No'] = range(1, len(dfDif10M.index) + 1)

## CSVファイル出力 /

In [9]:
if not os.path.exists(folder_out):
    os.mkdir(folder_out)
    
dfCur.to_csv(folder_out + '01_Curr01M.csv', index=True)
dfDif.to_csv(folder_out + '01_Diff01M.csv', index=True)

dfCur05M.to_csv(folder_out + '05_Curr05M.csv', index=True)
dfDif05M.to_csv(folder_out + '05_Diff05M.csv', index=True)

dfCur10M.to_csv(folder_out + '10_Curr10M.csv', index=True)
dfDif10M.to_csv(folder_out + '10_Diff10M.csv', index=True)

# 比較しやすくするため、データを加工する /

## 【標準化 / Standardization】SciPyを用いてz値（平均0、分散1に正規化）を求める。個々のデータが平均値から標準偏差いくつぶん離れているかを計算。

In [10]:
import scipy.stats
def adjustVal(df):
    dfTmp = df.copy()
    for hd in dfTmp.columns:
        if hd != "No":
            dfTmp[hd] = scipy.stats.zscore(dfTmp[hd], nan_policy='omit')
    return dfTmp

### scikit-learnを用いた正規化（Min-Max Normalization）も試したが、標準化した結果を比較した方が見やすかった。/
```
from sklearn import preprocessing
def adjustVal(df):
    dfTmp = df.copy()
    for hd in dfTmp.columns:
        if hd != "No":
            dfTmp[hd] = preprocessing.minmax_scale(dfTmp[hd])
    return dfTmp
```

## データセットを標準化 /

In [11]:
dfCur_adj = adjustVal(dfCur)
dfDif_adj = adjustVal(dfDif)
dfCur05M_adj = adjustVal(dfCur05M)
dfDif05M_adj = adjustVal(dfDif05M)
dfCur10M_adj = adjustVal(dfCur10M)
dfDif10M_adj = adjustVal(dfDif10M)

In [12]:
display(dfCur_adj)
display(dfDif_adj)

,usdjpy_OPEN,usdjpy_CLOSE,usdjpy_HIGH,usdjpy_LOW,gbpjpy_OPEN,gbpjpy_CLOSE,gbpjpy_HIGH,gbpjpy_LOW,gbpusd_OPEN,gbpusd_CLOSE,gbpusd_HIGH,gbpusd_LOW,No
DateTime,,,,,,,,,,,,,
2022-05-01 17:00:00,0.615440,0.636963,0.627000,0.625508,NaN,NaN,NaN,NaN,1.154356,1.154386,1.144517,1.164221,1
2022-05-01 17:01:00,0.636837,0.632209,0.627000,0.637392,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
2022-05-01 17:03:00,0.632082,0.632209,0.622244,0.642145,NaN,NaN,NaN,NaN,1.148114,1.148144,1.138273,1.157982,3
2022-05-01 17:04:00,0.632082,0.632209,0.622244,0.642145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
2022-05-01 17:05:00,0.632082,0.648850,0.638890,0.642145,1.755624,1.768431,1.758557,1.766116,1.159818,1.149705,1.149982,1.157982,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-27 16:54:00,-1.470330,-1.449509,-1.459262,-1.460473,0.134624,0.147345,0.136760,0.144047,1.549143,1.542926,1.544190,1.551779,28789
2022-05-27 16:55:00,-1.451311,-1.452678,-1.452921,-1.447798,0.144895,0.146740,0.140996,0.156111,1.542901,1.542926,1.534042,1.547880,28790
2022-05-27 16:56:00,-1.453688,-1.452678,-1.454506,-1.444629,0.146708,0.143719,0.144022,0.144047,1.542901,1.522641,1.535603,1.526825,28791
2022-05-27 16:57:00,-1.451311,-1.458225,-1.459262,-1.447798,0.144895,0.140698,0.157335,0.145253,1.522616,1.526542,1.561363,1.524486,28792
2022-05-27 16:58:00,-1.458443,-1.467734,-1.468774,-1.462058,0.137645,0.126197,0.127078,0.134999,1.531198,1.524201,1.521552,1.533843,28793

,usdjpy_dif_OC,usdjpy_dif_HL,gbpjpy_dif_OC,gbpjpy_dif_HL,gbpusd_dif_OC,gbpusd_dif_HL,No
DateTime,,,,,,,
2022-05-01 17:00:00,1.259743,0.074176,NaN,NaN,0.002554,-1.283095,1
2022-05-01 17:01:00,-0.268924,-0.679402,NaN,NaN,NaN,NaN,2
2022-05-01 17:03:00,0.009016,-1.282265,NaN,NaN,0.002554,-1.283095,3
2022-05-01 17:04:00,0.009016,-1.282265,NaN,NaN,NaN,NaN,4
2022-05-01 17:05:00,0.981803,-0.227255,0.593380,-0.727774,-0.570572,-0.564949,5
...,...,...,...,...,...,...,...
2022-05-27 16:54:00,1.213420,0.124415,0.593380,-0.427332,-0.350139,-0.564949,28789
2022-05-27 16:55:00,-0.083631,-0.277494,0.085768,-0.861303,0.002554,-0.947960,28790
2022-05-27 16:56:00,0.055339,-0.578925,-0.139837,-0.026744,-1.143698,0.440455,28791
2022-05-27 16:57:00,-0.407893,-0.679402,-0.196238,0.640904,0.222987,2.164005,28792
2022-05-27 16:58:00,-0.546863,-0.377971,-0.534646,-0.460715,-0.394226,-0.852208,28793

## CSVファイル出力 /

In [13]:
dfCur_adj.to_csv(folder_out + '01_Curr01M_adj.csv', index=True)
dfDif_adj.to_csv(folder_out + '01_Diff01M_adj.csv', index=True)

dfCur05M_adj.to_csv(folder_out + '05_Curr05M_adj.csv', index=True)
dfDif05M_adj.to_csv(folder_out + '05_Diff05M_adj.csv', index=True)

dfCur10M_adj.to_csv(folder_out + '10_Curr10M_adj.csv', index=True)
dfDif10M_adj.to_csv(folder_out + '10_Diff10M_adj.csv', index=True)

# (参考)dataframeのDataTimeでスライスする場合は以下のようにする

In [14]:
import datetime
dfw =  dfCur_adj[datetime.datetime(2022, 5, 22, 00, 00, 00):datetime.datetime(2022, 5, 28, 23, 59, 59)]
display(dfw)

,usdjpy_OPEN,usdjpy_CLOSE,usdjpy_HIGH,usdjpy_LOW,gbpjpy_OPEN,gbpjpy_CLOSE,gbpjpy_HIGH,gbpjpy_LOW,gbpusd_OPEN,gbpusd_CLOSE,gbpusd_HIGH,gbpusd_LOW,No
DateTime,,,,,,,,,,,,,
2022-05-22 17:00:00,-0.836357,-0.870241,-0.837822,-0.859952,NaN,NaN,NaN,NaN,0.306266,0.306307,0.295994,0.316584,21597
2022-05-22 17:03:00,-0.867263,-0.863109,-0.873492,-0.856783,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21598
2022-05-22 17:04:00,-0.837150,-0.836959,-0.847334,-0.826677,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21599
2022-05-22 17:05:00,-0.837150,-0.863109,-0.847334,-0.852821,NaN,NaN,NaN,NaN,0.342936,0.350779,0.340489,0.353234,21600
2022-05-22 17:06:00,-0.862508,-0.867071,-0.872699,-0.859159,NaN,NaN,NaN,NaN,0.350738,0.334394,0.340489,0.337638,21601
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-27 16:54:00,-1.470330,-1.449509,-1.459262,-1.460473,0.134624,0.147345,0.136760,0.144047,1.549143,1.542926,1.544190,1.551779,28789
2022-05-27 16:55:00,-1.451311,-1.452678,-1.452921,-1.447798,0.144895,0.146740,0.140996,0.156111,1.542901,1.542926,1.534042,1.547880,28790
2022-05-27 16:56:00,-1.453688,-1.452678,-1.454506,-1.444629,0.146708,0.143719,0.144022,0.144047,1.542901,1.522641,1.535603,1.526825,28791
2022-05-27 16:57:00,-1.451311,-1.458225,-1.459262,-1.447798,0.144895,0.140698,0.157335,0.145253,1.522616,1.526542,1.561363,1.524486,28792
2022-05-27 16:58:00,-1.458443,-1.467734,-1.468774,-1.462058,0.137645,0.126197,0.127078,0.134999,1.531198,1.524201,1.521552,1.533843,28793