In [1]:
from histdata import download_hist_data as dl
from histdata.api import Platform as P, TimeFrame as TF
import shutil
import pandas as pd
import numpy as np
import csv
import os

In [2]:
hdCurr = 'curr'
hdOpen = 'curr_OPEN'
hdClose = 'curr_CLOSE'
hdHigh = "curr_HIGH"
hdLow = "curr_LOW"
hdDifOC = 'curr_dif_OC'
hdDifHL = 'curr_dif_HL'
hdIndex = 'DateTime'
hdPip = 'pips_'
hdsOrg = [hdIndex, hdOpen, hdHigh, hdLow, hdClose,'Volume']
hdsCur = [hdIndex, hdOpen, hdClose, hdHigh, hdLow]
hdsDif = [hdIndex, hdDifOC, hdDifHL]

folder = './data/'
folder_out = './data_out/'

In [3]:
y = '2022'
mon = '5'
currencyPair =['usdjpy', 'gbpjpy', 'gbpusd']

for cp in currencyPair:
    os.remove(folder + cp + ".csv")

for cp in currencyPair:
    zipfile = dl(year=y, month=mon, pair=cp, platform=P.GENERIC_ASCII, time_frame=TF.ONE_MINUTE, output_directory=folder)
    shutil.unpack_archive(zipfile, folder)
    csvfile = zipfile.replace('zip', 'csv')
    os.rename(csvfile, folder + cp + ".csv")

https://www.histdata.com/download-free-forex-historical-data/?/ascii/1-minute-bar-quotes/usdjpy/2022/5
{'tk': 'f124913a3ae6cba886ae00d0b97ea43b', 'date': '2022', 'datemonth': '202205', 'platform': 'ASCII', 'timeframe': 'M1', 'fxpair': 'USDJPY'}
Wrote to ./data/DAT_ASCII_USDJPY_M1_202205.zip
https://www.histdata.com/download-free-forex-historical-data/?/ascii/1-minute-bar-quotes/gbpjpy/2022/5
{'tk': '4f04598be86fbbfdc6e235766f382ff0', 'date': '2022', 'datemonth': '202205', 'platform': 'ASCII', 'timeframe': 'M1', 'fxpair': 'GBPJPY'}
Wrote to ./data/DAT_ASCII_GBPJPY_M1_202205.zip
https://www.histdata.com/download-free-forex-historical-data/?/ascii/1-minute-bar-quotes/gbpusd/2022/5
{'tk': '36a414c85b3db5cd1fc768e5783eb8c8', 'date': '2022', 'datemonth': '202205', 'platform': 'ASCII', 'timeframe': 'M1', 'fxpair': 'GBPUSD'}
Wrote to ./data/DAT_ASCII_GBPUSD_M1_202205.zip

In [4]:
for cp in currencyPair:
    dfTmp = pd.read_csv(folder + cp + ".csv", header=None, names=hdsOrg, sep=';')
    dfTmp[hdDifOC] = dfTmp[hdClose] - dfTmp[hdOpen] 
    dfTmp[hdDifHL] = dfTmp[hdHigh] - dfTmp[hdLow] 
    dfTmp.to_csv(folder_out + cp + ".csv", index=False)

In [5]:
dfCur = pd.DataFrame()
dfDif = pd.DataFrame()

for cp in currencyPair:
    dfTmp = pd.read_csv(folder_out + cp + ".csv", sep=',')

    dfTmp_cur = dfTmp[hdsCur].copy()
    dfTmp_cur.columns = [s.replace(hdCurr, cp) for s in dfTmp_cur.columns]
    dfTmp_cur[hdIndex] = pd.to_datetime(dfTmp_cur[hdIndex])
    dfTmp_cur.set_index(hdIndex, inplace=True)
    dfCur = pd.concat([dfCur, dfTmp_cur], axis=1, join='outer')    
    
    dfTmp_dif = dfTmp[hdsDif].copy()
    dfTmp_dif.columns = [s.replace(hdCurr, cp) for s in dfTmp_dif.columns]
    dfTmp_dif[hdIndex] = pd.to_datetime(dfTmp_dif[hdIndex])
    dfTmp_dif.set_index(hdIndex, inplace=True)    
    dfDif = pd.concat([dfDif, dfTmp_dif], axis=1, join='outer')

In [6]:
display(dfCur)
display(dfDif)

,usdjpy_OPEN,usdjpy_CLOSE,usdjpy_HIGH,usdjpy_LOW,gbpjpy_OPEN,gbpjpy_CLOSE,gbpjpy_HIGH,gbpjpy_LOW,gbpusd_OPEN,gbpusd_CLOSE,gbpusd_HIGH,gbpusd_LOW
DateTime,,,,,,,,,,,,
2022-05-01 17:00:00,129.723,129.750,129.750,129.723,NaN,NaN,NaN,NaN,1.25794,1.25794,1.25794,1.25794
2022-05-01 17:01:00,129.750,129.744,129.750,129.738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-05-01 17:03:00,129.744,129.744,129.744,129.744,NaN,NaN,NaN,NaN,1.25786,1.25786,1.25786,1.25786
2022-05-01 17:04:00,129.744,129.744,129.744,129.744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-05-01 17:05:00,129.744,129.765,129.765,129.744,163.195,163.216,163.217,163.195,1.25801,1.25788,1.25801,1.25786
...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-27 16:54:00,127.091,127.117,127.118,127.090,160.512,160.533,160.537,160.506,1.26300,1.26292,1.26306,1.26291
2022-05-27 16:55:00,127.115,127.113,127.126,127.106,160.529,160.532,160.544,160.526,1.26292,1.26292,1.26293,1.26286
2022-05-27 16:56:00,127.112,127.113,127.124,127.110,160.532,160.527,160.549,160.506,1.26292,1.26266,1.26295,1.26259
2022-05-27 16:57:00,127.115,127.106,127.118,127.106,160.529,160.522,160.571,160.508,1.26266,1.26271,1.26328,1.26256
2022-05-27 16:58:00,127.106,127.094,127.106,127.088,160.517,160.498,160.521,160.491,1.26277,1.26268,1.26277,1.26268

,usdjpy_dif_OC,usdjpy_dif_HL,gbpjpy_dif_OC,gbpjpy_dif_HL,gbpusd_dif_OC,gbpusd_dif_HL
DateTime,,,,,,
2022-05-01 17:00:00,0.027,0.027,NaN,NaN,0.00000,0.00000
2022-05-01 17:01:00,-0.006,0.012,NaN,NaN,NaN,NaN
2022-05-01 17:03:00,0.000,0.000,NaN,NaN,0.00000,0.00000
2022-05-01 17:04:00,0.000,0.000,NaN,NaN,NaN,NaN
2022-05-01 17:05:00,0.021,0.021,0.021,0.022,-0.00013,0.00015
...,...,...,...,...,...,...
2022-05-27 16:54:00,0.026,0.028,0.021,0.031,-0.00008,0.00015
2022-05-27 16:55:00,-0.002,0.020,0.003,0.018,0.00000,0.00007
2022-05-27 16:56:00,0.001,0.014,-0.005,0.043,-0.00026,0.00036
2022-05-27 16:57:00,-0.009,0.012,-0.007,0.063,0.00005,0.00072
2022-05-27 16:58:00,-0.012,0.018,-0.019,0.030,-0.00009,0.00009

In [7]:
dfCur10M = dfCur.groupby(pd.Grouper(freq='10Min')).mean()
dfDif10M = dfDif.groupby(pd.Grouper(freq='10Min')).sum()

In [8]:
display(dfCur10M)
display(dfDif10M)

,usdjpy_OPEN,usdjpy_CLOSE,usdjpy_HIGH,usdjpy_LOW,gbpjpy_OPEN,gbpjpy_CLOSE,gbpjpy_HIGH,gbpjpy_LOW,gbpusd_OPEN,gbpusd_CLOSE,gbpusd_HIGH,gbpusd_LOW
DateTime,,,,,,,,,,,,
2022-05-01 17:00:00,129.746750,129.752250,129.753000,129.744250,163.204500,163.214500,163.215500,163.204000,1.257904,1.257907,1.257960,1.257869
2022-05-01 17:10:00,129.750500,129.750200,129.751600,129.749700,163.217778,163.215889,163.219778,163.209000,1.257869,1.257898,1.257924,1.257856
2022-05-01 17:20:00,129.803444,129.811667,129.811889,129.801444,163.307900,163.318600,163.327000,163.298000,1.258006,1.258011,1.258044,1.257975
2022-05-01 17:30:00,129.844100,129.844800,129.846400,129.843100,163.343400,163.342000,163.348500,163.337600,1.257937,1.258055,1.258070,1.257935
2022-05-01 17:40:00,129.849400,129.852100,129.856000,129.845300,163.346900,163.343300,163.351700,163.338500,1.257981,1.257954,1.258031,1.257927
...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-27 16:10:00,127.101700,127.102000,127.103200,127.100800,160.527000,160.523900,160.530500,160.521500,1.262945,1.262942,1.262972,1.262917
2022-05-27 16:20:00,127.111500,127.109500,127.114100,127.107100,160.540900,160.542200,160.547700,160.536900,1.262985,1.263004,1.263013,1.262977
2022-05-27 16:30:00,127.102400,127.101300,127.104900,127.098500,160.543800,160.540300,160.546800,160.537000,1.263084,1.263074,1.263094,1.263054
2022-05-27 16:40:00,127.107100,127.108600,127.112500,127.102400,160.538900,160.538500,160.546900,160.529700,1.263027,1.263010,1.263068,1.262989
2022-05-27 16:50:00,127.099889,127.099444,127.107778,127.092222,160.516667,160.515222,160.532556,160.501444,1.262902,1.262869,1.263003,1.262803

,usdjpy_dif_OC,usdjpy_dif_HL,gbpjpy_dif_OC,gbpjpy_dif_HL,gbpusd_dif_OC,gbpusd_dif_HL
DateTime,,,,,,
2022-05-01 17:00:00,0.044,0.070,0.020,0.023,0.00002,0.00064
2022-05-01 17:10:00,-0.003,0.019,-0.017,0.097,0.00029,0.00068
2022-05-01 17:20:00,0.074,0.094,0.107,0.290,0.00004,0.00055
2022-05-01 17:30:00,0.007,0.033,-0.014,0.109,0.00071,0.00081
2022-05-01 17:40:00,0.027,0.107,-0.036,0.132,-0.00027,0.00104
...,...,...,...,...,...,...
2022-05-27 16:10:00,0.003,0.024,-0.031,0.090,-0.00003,0.00055
2022-05-27 16:20:00,-0.020,0.070,0.013,0.108,0.00019,0.00036
2022-05-27 16:30:00,-0.011,0.064,-0.035,0.098,-0.00009,0.00036
2022-05-27 16:40:00,0.015,0.101,-0.004,0.172,-0.00017,0.00079
2022-05-27 16:50:00,-0.004,0.140,-0.013,0.280,-0.00030,0.00180

In [9]:
dfCur['No'] = range(1, len(dfCur.index) + 1)
dfDif['No'] = range(1, len(dfDif.index) + 1)
dfCur10M['No'] = range(1, len(dfCur10M.index) + 1)
dfDif10M['No'] = range(1, len(dfDif10M.index) + 1)

In [10]:
if not os.path.exists(folder_out):
    os.mkdir(folder_out)
    
dfCur.to_csv(folder_out + '11_Curr.csv', index=True)
dfCur10M.to_csv(folder_out + '12_Curr10M.csv', index=True)

dfDif.to_csv(folder_out + '21_Diff.csv', index=True)
dfDif10M.to_csv(folder_out + '22_Diff10M.csv', index=True)

In [11]:
def adjustVal(df, tgtHd, ratio):
    dfTmp = df.copy()
    for hd in dfTmp.columns:
        if tgtHd in hd:
            dfTmp[hd] = dfTmp[hd] * ratio
    return dfTmp

In [12]:
dfCur_adj = adjustVal(dfCur, 'gbpusd', 100)
dfDif_adj = adjustVal(dfDif, 'gbpusd', 100)
dfCur10M_adj = adjustVal(dfCur10M, 'gbpusd', 100)
dfDif10M_adj = adjustVal(dfDif10M, 'gbpusd', 100)

In [13]:
dfCur_adj.to_csv(folder_out + '11_Curr_adj.csv', index=True)
dfCur10M_adj.to_csv(folder_out + '12_Curr10M_adj.csv', index=True)
dfDif_adj.to_csv(folder_out + '21_Diff_adj.csv', index=True)
dfDif10M_adj.to_csv(folder_out + '22_Diff10M_adj.csv', index=True)

import datetime
dfw =  df[datetime.datetime(2022, 5, 22, 00, 00, 00):datetime.datetime(2022, 5, 28, 23, 59, 59)]
print(dfw)