In [43]:
from histdata import download_hist_data as dl
from histdata.api import Platform as P, TimeFrame as TF
import shutil
import pandas as pd
import numpy as np
import csv
import os

In [48]:
hdOpen = 'curr_OPEN'
hdClose = 'curr_CLOSE'
hdCurr = 'curr'
hdIndex = 'DateTime'
hdPip = 'pips_'
hd = [hdIndex,hdOpen,'HIGH','LOW',hdClose,'Volume']
hd2 = [hdIndex, hdOpen, hdClose]

In [78]:
folder = './data/'

y = '2022'
mon = '5'
currencyPair =['usdjpy', 'gbpjpy', 'gbpusd']

dfVal = pd.DataFrame()
dfInc = pd.DataFrame()

for cp in currencyPair:
    zipfile = dl(year=y, month=mon, pair=cp, platform=P.GENERIC_ASCII, time_frame=TF.ONE_MINUTE, output_directory=folder)
    csvfile = zipfile.replace('zip', 'csv')
    shutil.unpack_archive(zipfile, folder)
    dfTmp = pd.read_csv(csvfile, header=None, names=hd, sep=';')

    dfTmp = dfTmp[hd2]
    dfTmp.columns = [s.replace(hdCurr, cp) for s in dfTmp.columns]
    
    dfTmp[hdIndex] = pd.to_datetime(dfTmp[hdIndex])
    dfTmp.set_index(hdIndex, inplace=True)
    dfTmp = dfTmp.groupby(pd.Grouper(freq='10Min')).mean()
    
    dfVal = pd.concat([dfVal, dfTmp], axis=1, join='outer')

    dfTmp[hdPip + cp] = dfTmp[hdClose.replace(hdCurr, cp)] - dfTmp[hdOpen.replace(hdCurr, cp)]
    dfTmp = dfTmp.groupby(pd.Grouper(freq='10Min')).sum()
    
    dfInc = pd.concat([dfInc, dfTmp[hdPip + cp]], axis=1, join='outer')

https://www.histdata.com/download-free-forex-historical-data/?/ascii/1-minute-bar-quotes/usdjpy/2022/5
{'tk': 'f124913a3ae6cba886ae00d0b97ea43b', 'date': '2022', 'datemonth': '202205', 'platform': 'ASCII', 'timeframe': 'M1', 'fxpair': 'USDJPY'}
Wrote to ./data/DAT_ASCII_USDJPY_M1_202205.zip
https://www.histdata.com/download-free-forex-historical-data/?/ascii/1-minute-bar-quotes/gbpjpy/2022/5
{'tk': '4f04598be86fbbfdc6e235766f382ff0', 'date': '2022', 'datemonth': '202205', 'platform': 'ASCII', 'timeframe': 'M1', 'fxpair': 'GBPJPY'}
Wrote to ./data/DAT_ASCII_GBPJPY_M1_202205.zip
https://www.histdata.com/download-free-forex-historical-data/?/ascii/1-minute-bar-quotes/gbpusd/2022/5
{'tk': '36a414c85b3db5cd1fc768e5783eb8c8', 'date': '2022', 'datemonth': '202205', 'platform': 'ASCII', 'timeframe': 'M1', 'fxpair': 'GBPUSD'}
Wrote to ./data/DAT_ASCII_GBPUSD_M1_202205.zip

In [80]:
display(dfInc)

                     pips_usdjpy  pips_gbpjpy  pips_gbpusd
2022-05-01 17:00:00     0.005500     0.010000     0.000003
2022-05-01 17:10:00    -0.000300    -0.001889     0.000029
2022-05-01 17:20:00     0.008222     0.010700     0.000005
2022-05-01 17:30:00     0.000700    -0.001400     0.000118
2022-05-01 17:40:00     0.002700    -0.003600    -0.000027
...                          ...          ...          ...
2022-05-27 16:10:00     0.000300    -0.003100    -0.000003
2022-05-27 16:20:00    -0.002000     0.001300     0.000019
2022-05-27 16:30:00    -0.001100    -0.003500    -0.000010
2022-05-27 16:40:00     0.001500    -0.000400    -0.000017
2022-05-27 16:50:00    -0.000444    -0.001444    -0.000033

[3744 rows x 3 columns]

In [69]:
display(dfVal)

,usdjpy_OPEN,usdjpy_CLOSE,gbpjpy_OPEN,gbpjpy_CLOSE,gbpusd_OPEN,gbpusd_CLOSE
DateTime,,,,,,
2022-05-01 17:00:00,129.723,129.750,NaN,NaN,1.25794,1.25794
2022-05-01 17:01:00,129.750,129.744,NaN,NaN,NaN,NaN
2022-05-01 17:03:00,129.744,129.744,NaN,NaN,1.25786,1.25786
2022-05-01 17:04:00,129.744,129.744,NaN,NaN,NaN,NaN
2022-05-01 17:05:00,129.744,129.765,163.195,163.216,1.25801,1.25788
...,...,...,...,...,...,...
2022-05-27 16:54:00,127.091,127.117,160.512,160.533,1.26300,1.26292
2022-05-27 16:55:00,127.115,127.113,160.529,160.532,1.26292,1.26292
2022-05-27 16:56:00,127.112,127.113,160.532,160.527,1.26292,1.26266
2022-05-27 16:57:00,127.115,127.106,160.529,160.522,1.26266,1.26271
2022-05-27 16:58:00,127.106,127.094,160.517,160.498,1.26277,1.26268

In [82]:
display(dfInc)

                     pips_usdjpy  pips_gbpjpy  pips_gbpusd
2022-05-01 17:00:00     0.005500     0.010000     0.000003
2022-05-01 17:10:00    -0.000300    -0.001889     0.000029
2022-05-01 17:20:00     0.008222     0.010700     0.000005
2022-05-01 17:30:00     0.000700    -0.001400     0.000118
2022-05-01 17:40:00     0.002700    -0.003600    -0.000027
...                          ...          ...          ...
2022-05-27 16:10:00     0.000300    -0.003100    -0.000003
2022-05-27 16:20:00    -0.002000     0.001300     0.000019
2022-05-27 16:30:00    -0.001100    -0.003500    -0.000010
2022-05-27 16:40:00     0.001500    -0.000400    -0.000017
2022-05-27 16:50:00    -0.000444    -0.001444    -0.000033

[3744 rows x 3 columns]

In [81]:
folder_out = './data_out/'
if not os.path.exists(folder_out):
    os.mkdir(folder_out)
    
dfVal.to_csv(folder_out + 'dfVal.csv')
dfInc.to_csv(folder_out + 'dfInc.csv')

In [36]:
import datetime
dfw =  df[datetime.datetime(2022, 5, 22, 00, 00, 00):datetime.datetime(2022, 5, 28, 23, 59, 59)]
print(dfw)

                     pips_eurusd  pips_usdjpy
2022-05-22 17:00:00      0.00001       -0.043
2022-05-22 17:01:00      0.00000          NaN
2022-05-22 17:02:00      0.00000          NaN
2022-05-22 17:03:00      0.00000        0.005
2022-05-22 17:04:00      0.00001        0.000
...                          ...          ...
2022-05-27 16:54:00     -0.00004        0.026
2022-05-27 16:55:00      0.00015       -0.002
2022-05-27 16:56:00     -0.00007        0.001
2022-05-27 16:57:00      0.00020       -0.009
2022-05-27 16:58:00      0.00014       -0.012

[7196 rows x 2 columns]